.alert-container {
    position: fixed;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    margin: 16px;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
}

.alert-container a {
    display: inline-block;
    margin-top: 10px;
}


.snackbar-container {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 1000;
    margin: 16px;
}